body {
    max-width: 65rem;
    margin: auto; /* top, right, bottom, and left */
    font-family: serif;
}

h1 {
    font-size: 250%;
}

p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 175%;
}

 #preamble ul {
      list-style-type: none;
      padding-left: 1rem;
}

 #preamble li {
      position: relative;
      padding-left: 30px;
}

#preamble li::before {
    content: attr(data-emoji);
    position: absolute;
    left: 0;
    top: 0;
}

#preamble li:nth-child(1)::before { content: "🏠"; }
#preamble li:nth-child(2)::before { content: "👤"; }
#preamble li:nth-child(3)::before { content: "📜"; }
#preamble li:nth-child(4)::before { content: "📚"; }
#preamble li:nth-child(5)::before { content: "🗞️"; }
#preamble li:nth-child(6)::before { content: "🧾"; }
#preamble li:nth-child(7)::before { content: "🎤"; }
#preamble li:nth-child(8)::before { content: "🐙"; }
#preamble li:nth-child(9)::before { content: "🇭🇰"; }


#recent-posts td:nth-child(1)::before {
    content:"📌 ";
    padding-right: 0.25rem;
    font-size: 75%;
}

.post-title {
    margin-bottom: 0;
    font-size: 180%
}

.post-date {
    margin-top: 0.45rem;
    font-style: italic;
}

#about p {
    text-align: initial;
    text-justify: initial;
}

#about img {
    height: auto;
    max-width: 185px;
    border: 2px solid black;
}

#about figcaption {
    font-style: italic;
}

img {
    height: auto;
    max-width: 350px;
}

figure {
    display: block;
    width: auto;
}

figure figcaption {
    font-size: 85%;
}

td {
    vertical-align: top;
    padding: 0 0.5rem 0.25rem 0;
}

#references td {
    padding: 0 1rem 0.85rem 0;
}

.footnotes td {
    padding: 0 1rem 0.85rem 0;
}

.book-title {
    font-style: italic;
    font-size: 110%;
}

.reading-list p {
    margin: 0;
    width: 80%;
    text-align: initial;
    text-justify: initial;
    line-height: initial;
}

.image-column img {
    max-width: 115px;
}

@media (max-width: 768px) {
    body {
       font-size: 120%;
       margin: 1rem;
    }

    #container {
        display: initial;
    }

    p {
        text-align: initial;
        text-justify: initial;
    }

     #preamble li {
          position: relative;
          margin-top: 1rem;
    }
    
    #content {
        width: initial;
        margin: 2rem 0 0 0;
        border: initial
    }

    #container-index {
        display: initial;
    }

    #about {
        display: initial;
    }

    #profile-pic {
        display: initial;
        margin: initial;
    }

    #profile-pic figcaption {
        text-align: left;
    }
}
