body {
    max-width: 65rem;
    margin: auto;
    font-family: serif;
}

h1,h2,h3,h4,h5 {
    font-family: sans-serif;
}

p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 175%;
}

sup {
    padding: 0;
    margin-left: -2.5px;
}

#preamble ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
}

.post-title {
    margin-bottom: 0;
}

.post-date {
    margin-top: 0.45rem;
    font-style: italic;
}

#about p {
    text-align: initial;
    text-justify: initial;
}

#about img {
    height: auto;
    max-width: 185px;
    border: 2px solid black;
}

#about figcaption {
    font-style: italic;
}

img {
    height: auto;
    max-width: 350px;
}

figure {
    display: block;
    width: auto;
}

figure figcaption {
    font-size: 85%;
}

td {
    vertical-align: top;
    padding: 0 0.5rem 0.25rem 0;
}

#references td {
    padding: 0 1rem 0.85rem 0;
}

.footnotes td {
    padding: 0 1rem 0.85rem 0;
}


/* reading list  */
.book-title {
    font-style: italic;
    font-size: 110%;
}

.reading-list p {
    margin: 0;
    width: 80%;
    text-align: initial;
    text-justify: initial;
    line-height: initial;
}

.image-column img {
    max-width: 115px;
}

/* media rules */
@media (max-width: 768px) {
    body {
       font-size: 120%;
       margin: 1rem;
    }

    #container {
        display: initial;
    }

    p {
        text-align: initial;
        text-justify: initial;
    }

     #preamble li {
          position: relative;
          margin-top: 1rem;
    }
    
    #content {
        width: initial;
        margin: 2rem 0 0 0;
        border: initial
    }

    #container-index {
        display: initial;
    }

    #about {
        display: initial;
    }

    #profile-pic {
        display: initial;
        margin: initial;
    }

    #profile-pic figcaption {
        text-align: left;
    }
}
